<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sach người dùng</h1>
<a href="/account/add">Them moi ngời dùng</a>
<table border="10" cellspacing="10" cellpadding="10">
    <thead>
    <tr>
        <th>STT</th>
        <th>fullName</th>
        <th>address</th>
        <th>phone</th>
        <th>dateOfBirth</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ac,loop : ${accounts}">
        <td th:text="${loop.count}"></td>
        <td th:text="${ac.fullName}"></td>
        <td th:text="${ac.address}"></td>
        <td th:text="${ac.phone}"></td>
        <td th:text="${ac.dateOfBirth}"></td>
        <td><a th:href="|/account/edit/${ac.id}|">Edit</a></td>
        <td><a th:href="|/account/delete/${ac.id}|">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>